*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000000;
}

.menuElement{
    margin-left:80px;
}

a{
    font-size:20px;
}

.description{
    color:#fff;
}

ul{
    list-style-type: none;
}
#banSlide{
    width:1150px;
    height:400px;
    overflow:hidden;
    margin-right:auto;
    margin-left:auto;
}

.slider{
    display:block;
    width:1150px;
    height:400px;
}

.slide{
    float:left;
    list-style-type: none;
    width:1150px;
    height:400px;
}
#content{
    margin-top:50px;
    background-color:#232324;
}

.thumbnail{
    background-color:#0e1121;
    border-color:#0e1121;
}

.caption{
    background-color:#0e1121;
}

h1{
    color:#fff;
    margin-top:70px;
}

h3{
    color:#fff;
}

h4{
    color:#fff;
}

footer{
    background-color:#232324;
}

#shareList li{
    display: inline;
}

#serviceList li{
    display: inline;
}

label{
    color:#fff;
    font-size:18px;
}

 description{
    color:#fff;
}










